html, body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
}

.content {
    line-height: 1.5;
    padding: 1rem;
    max-width: 700px;
    margin: 0 auto;
    z-index: 10;
}

div.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #e5e5f7;
    opacity: 0.2;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
    z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .5em;
    font-weight: bold;
    line-height: 1.2;
}

* + h1, *:not(h1) + h2 {
    margin-top: 2rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

p {
    margin: 0 0 1em;
}

.lead {
    font-size: 1.25rem;
    font-weight: bold;
}

ul, ol {
    margin: 0 0 1em;
    padding-left: 1.25em;
}

nav {
    margin: 1rem auto;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: fit-content;

    a {
        text-decoration: none;
        padding: 0.25rem 0.5rem;
        border: 1px solid transparent;
        border-radius: 10px;

        &:hover, &:focus, &:active {
            background: #0b84ff;
            color: #fff;
        }
    }
}

header {
    text-align: center;

    img {
        border-radius: 50%;
    }
}

footer {
    text-align: center;
}

a {
    color: #0b84ff;
    text-decoration: underline;
}

label {
    display: block;
    margin-bottom: .25em;
    font-size: .9rem;
    color: #555;
}

input, textarea, select, button {
    font: inherit;
    color: inherit;
    padding: .5rem .6rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
}

textarea {
    resize: vertical;
    min-height: 6rem;
}

img, video {
    max-width: 100%;
    height: auto;
}

article {
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #fff;

    h2 {
        text-align: center;
    }

    h3 {
        margin-top: 2rem;
    }

    & + & {
        margin-top: 2rem;
    }

    summary {
        text-align: center;
    }

    @media screen and (max-width: 900px) {
        padding: 1rem;
    }
}

pre {
    background: #fff;
    padding: 1rem;
}
