<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <meta name="description" content="{{ description }}">
</head>

<body>
    <header>
        <nav>
            <a href="/">Accueil</a>
            <a href="https://florentdestremau.bearblog.dev/">Blog</a>
            <a href="https://www.linkedin.com/in/florent-destremau/">LinkedIn</a>
            <a href="https://twitter.com/FloDestremau">Twitter / X</a>
            <a href="https://github.com/florentdestremau">Github</a>
        </nav>
    </header>
    {{ content | safe }}
</body>

</html>