<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/bundle.css">
    <meta name="description" content="{{ description }}">
    <link rel="icon" href="/img/favicon.ico">
    <link
            href="https://unpkg.com/prismjs@1.20.0/themes/prism.css"
            rel="stylesheet"
    />
</head>

<body>
<div class="background"></div>
<div class="content">
    <header>
        <div>
            <a href="/">
                <img src="/img/florent.jpg" width="80" height="80" alt="Florent Destremau">
                <p>Florent Destremau</p>
            </a>
            <div class="lead">CTO Freelance et Dev PHP</div>
            <p>
                CTO fullstack en PHP et JS, je mets les mains dans le code pour accélérer vos projets.
                <br>
                Retrouvez-moi sur <a href="https://www.linkedin.com/in/florent-destremau/">LinkedIn</a>,
                sur <a href="https://x.com/FloDestremau">X.com</a> ou consultez mon
                <a href="https://github.com/florentdestremau">Github</a>.
            </p>
        </div>
        <nav>
            <a href="/#mes-articles">Blog</a>
            <a href="/about">À&nbsp;propos</a>
        </nav>
    </header>
    {{ content | safe }}
</div>
</body>

</html>
